body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

nav p {
  display: flex;
  font-size: 24px;
  color: #f9faf8;
  margin-left: 300px;
  font-weight: bold;
  font-style: normal;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #e4e7eb;
  width: 30%;
  list-style-type: none;
  margin-right: 300px;
}

#header {
  display: flex;
  background-color: #1f2937;
  height: 450px;
}

#letters {
  margin-top: 40px;
  display: flex;
  margin-left: 300px;
  flex-direction: column;
  width: 22%;
}

h1 {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
}

#description {
  font-size: 18px;
  color: #e4e7eb;
  margin: 0px;
}

#sign_up {
  display: flex;
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 18px;
  color: #e4e7eb;
  margin-top: 10px;
  width: 25%;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  width: 600px;
  margin-right: 300px;
  background-color: gray;
  height: 230px;
  margin-top: 80px;
  margin-left: 150px;
}

#information {
  height: 40%;
}

#text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 20px;
}

#boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border-color: #3882f6;
  border-width: 5px;
  border-style: inset;
  width: 200px;
  height: 200px;
}

.all {
  margin: 20px;
  width: 200px;
  font-size: 18px;
  height: 400px;
}

#quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  height: 500px;

  color: #1f2937;
}

#contents {
  width: 810px;
  font-size: 36px;
  font-style: italic;
  margin-top: 100px;
  height: 200px;
}

#author {
  font-size: 24px;
  font-weight: 900;
  margin-left: 500px;
  margin-top: 0px;
}

#action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
}

#blue_box {
  width: 1300px;
  height: 200px;
  background-color: #3882f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  color: #e5e7eb;
}

.text {
  margin-left: 160px;
}

#text1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 60px;
  width: 500px;
}

#text2 {
  font-size: 18px;
  margin-top: 5px;
  width: 500px;
}

#sign_up_v2 {
  margin-left: 1000px;
  font-size: 22px;
  font-weight: 700;
  border-color: #e5e7eb;
  display: flex;
  background-color: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-style: inset;
}

footer {
  background-color: #1f2937;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: 22px;
}
