nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

nav p {
  display: flex;
  font-size: 24px;
  color: #f9faf8;
  margin-left: 300px;
  font-weight: bold;
  font-style: normal;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #e4e7eb;
  width: 30%;
  list-style-type: none;
  margin-right: 300px;
}

#header {
  display: flex;
  background-color: #1f2937;
  height: 400px;
}

#letters {
  margin-top: 10px;
  display: flex;
  margin-left: 300px;
  flex-direction: column;
  width: 22%;
}

h1 {
  display: flex;
  font-size: 48px;
  font-style: ;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
}

#description {
  font-size: 18px;
  color: #e4e7eb;
  margin: 0px;
}

#sign_up {
  display: flex;
  background-color: #3882f6;
  border-radius: 10%;
  font-size: 18px;
  color: #e4e7eb;
  margin-top: 10px;
  width: 25%;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  width: 600px;
  margin-right: 300px;
  background-color: gray;
  height: 230px;
  margin-top: 50px;
  margin-left: 150px;
}
